<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function updateTextForConfidence(val) {
                document.getElementById('lconfidenceVal').innerHTML = val + " %"; 
            }

            function updateDatasetSelection(val){
                $('.option').css('display', 'none')
                $('.' + val).css('display', 'inline')
                $('#fconcept').prop('selectedIndex', -1)
            }

            window.onload = function(){
                $('.option').css('display', 'none')
                $('#fdataset').prop('selectedIndex', -1)
                $('#fconcept').prop('selectedIndex', -1)
            }
        </script>
    </head>
    <body>
    <h1>Content Search Tool</h1>
    <h2>By Alexander Lercher</h2>
    
    <form action="/results">
        <label for="fdataset">Training Dataset:</label> <br>
        <select id="fdataset" name="pdataset" onchange="updateDatasetSelection(this.value);">
            {% for dataset in dataset_list %}
            <option value="{{dataset[0]}}"> {{dataset[0]}} </option>
            {% endfor %}
        </select>
        <br><br>


        <label for="fconcept">Concept:</label> <br>
        <select id="fconcept" name="pconcept">
            {% for concept in concept_list %}
            <option class="{{concept[2]}} option" value="{{concept[0]}}"> {{concept[1]}} </option>
            {% endfor %}
        </select>
        <br><br>

        <label for="fconf">Confidence:</label> <br>
        <input type="range" min="0" max="100" id="fconf" name="pconf" onchange="updateTextForConfidence(this.value);">
        <label id="lconfidenceVal">50 %</label>
        <br><br>

        <input type="submit" value="Submit">
      </form>
    </body>
</html>